.list-about {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10% 25px 10%; 
}
.list-about__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 26px;
    color: #2F2F51;
}

.list-about__item--mark {
    color: white;
    background-color: #EF7F04;
}



.description {
    position: relative;
    height: 461px;
    width: 1200px;
    background-color: white;
}

.description__logo {
    position: absolute;
    top: 46px;
    left: 50px;
    height: 139px;
    width: 198px;
}

.description__image--992 {
    display: none;
    position: absolute;
    width: 447px;
    height: 461px;
    top: 0;
    right: 0;
    left: 443px;
    bottom: 0;
}

.description__image {
    position: absolute;
    height: 461px;
    width: 595px;
    top: 0;
    right: 0;
    left: 605px;
    bottom: 0;
    
}

.description__text {
    position: absolute;
    top: 260px;
    left: 248px;
    right: 660px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 304px;
    height: 200px;
}

.utp {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    height: 300px;
    /* padding: 68px 0 0 0px; */
    padding: 0 1%;
    justify-content: space-between;
    align-items: center; 
    align-content: space-between;
    /* margin: 68px 0 0 0; */
} 

.utp__item {
    margin-top: 68px;
    display: flex;
    position: relative;
    width: 350px;
    height: 114px;
    gap: 10px;

}

.utp__item__icon {
    position: absolute;
    width: 80.76px;
    height: 98.39px;
}

.utp__item__title {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F2F51;
    text-transform: uppercase;
    top: 5px;
    left: 100px;
}

.utp__item__text {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: black;
    top: 35px;
    left: 100px;
    

}
/* Исправить */
.btn__about {
padding-left: 39%;
padding-top: 112px;


}

.botton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    background-color: #EF7F04;
    color: white;
}

.botton--reguest {
    width: 312px;
    height: 54px;
    /* margin-top: 100px; */
    justify-content: center;
    gap: 19px;
    font-size: 16px;
    position: absolute;
    
}

@media (max-width: 992px) {
    .utp {
        align-items: center;
        width: 100%;
        padding: 0 10%;
        
    }
    .utp__item {
        flex-basis: 50%;
    }

    .btn__about {
        padding-top: 17%;
        padding-left: 33%;
    }

    .botton--reguest {
        margin-top: 134px;
    }
    .description {
        width: 992px;
    }

    .description__text {
        top: 240px;
        left: 122px;
        width: 277px;
    }
    .description__image--992 {
        display: block;

    }
    .description__image {
        display: none;
    }

    
}