.container-approach {
    display: flex;
    width: 1920px;
    margin: 0 auto;
    position: relative;
}
.background1{
    width: 1920px;
    height: 562px;

}
.background2{
    display: none;
}

.approach__discript {
    position: absolute;
    left: 444px;
    top: 129px;
    height: 15%;
    width: 511px;
}

.discript__title {
    color: #EF7F04;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 160%;
    padding-bottom: 0;
    }

.discript__text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    padding-top: 10px;

}

.approach__pros {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 530px;
    height: 176px;
    gap: 10px;
    top: 273px;
    left: 430px;
    

}

.pros__item {
    width: 180px;
    height: 158px;
    padding-left: 10px;
    position: relative;
    

}

.item__icon {
    /* position: absolute; */
    width: 92px;
    height: 79px;
}

.item__text {
    position: absolute;
    left: 18px;
    width: 176px;
    height: 58px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.call-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -205px;
    left: 613px;
    /* right: -25vw; */
    background-color: #EF7F04;
    width: 406px;
    height: 428px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
}

.call-form:before {
    content: url(../images/approach/scale.svg);
    position: absolute;
    bottom: -57px;
    left: -89px;
}

.form__title {
    padding-top: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F51;
    padding-bottom: 27px;
}

.form__img {
    display: none;
    position: absolute;
    top: 351px;
    width: 607px;
    height: 117.75px;
}

.form__name, .form__tel, .email {
    width: 80%;
    height: 9%;
    border-radius: 3px;
    margin-bottom: 4%;
    background-color: #E2E2E2;
    border: none;
}

.form__checkbox {
    display: flex; 
    justify-content: space-between; 
    width: 80%;
   align-items: center;
     position: relative; 
} 

.checkbox {
    display:inline;
} 

/* .checkbox__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    padding-bottom: 7%;
    position: absolute;
    top: -4px;
    left: 46px;
}  */

.checkbox__text__link {
    text-decoration: none;
    color: #4B67AF;

}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #424268;
    padding-left: 5%;
  }

.form__button {
    position: absolute;
    top: 307px;
    width: 199px;
    height: 54.5px;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80%;
    line-height: 15px;
    color: white;
    background-color: #EF7F04;
}
.form__button:hover {
    opacity: 0.5;
}

@media (max-width: 992px) {
    .container-approach{
        width: 992px;
    }
    .background1 {
    display: none;
    }
    .background2 {
    display: block;
    width: 992px;
    height: 562px;
    }
    .call-form {
        display: none;}

        .approach__discript {
            left: 7%;
            right: 60%;
        }
        .approach__pros {
            left: 4%; 
            right: 60%;
        }
} 

.form__checkbox {
    display: block;
    margin-bottom: 15px;
  }
  
  .form__checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    /* width: 287.5px;
    height: 48px;
    width: 287.5px;
    height: 48px; */
  }
  
  .form__checkbox label {
display: flex; 

justify-content: space-between;
position: relative;
            cursor: pointer;
            /* width: 287.5px;
height: 48px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
padding-left: 5px;

color: #000000;
  }
/* .checkbox__text__link {
    display: inline;
} */

  /* Фон чек бокса */
  .form__checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    background: #E2E2E2;
    border-radius: 3px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    /* padding: 10px; */
    display: block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    width: 50px;
    height: 25px;
    display: block;
  }
  
  .form__checkbox input:checked {
    content: "";
    
  }

  .form__checkbox input:checked + label:after {
    content: url(../images/approach/check.svg);
    width: 24px;
    height: 26px;
    display: block;
    position: absolute;
    top: -4px;
    left: 7px;
    width: 6px;
    height: 14px;
    
  }