*{
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.title {


font-weight: 700;

line-height: 28px;
color: #2F2F51;
text-align: center;
margin-bottom: 48px;
margin-top: 68px;
}

.btn {
    display: flex;
    gap: 0 14px;
}

@media (max-width: 992px) {
 .container {
    width: 992px;
    margin: 0 auto;
 }
}

