.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 17px;
}

.list {
    display: flex;
    gap: 0 25px;
}

.link {
    color: #000000;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.btn {
    display: flex;
    gap: 0 14px;
}

.btn-item {
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.btn-item-orange {
    background-color: #EF7F04
    ;

}

.btn-item-blue {
    background-color: #3B3A63;
}

.img {
margin-right: 1px;
}